<div class="row justify-content-center">
  <div class="col-lg-10 px-0 my-4">
    <div class="row mainTopRectangle">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="row">
          <span class="mainText">Te Escribe: Home</span>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="row">
          <button type="button" class="btn btn-primary homeButton" (click)="goLogin()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-10 px-0 my-4">
    <div class="row homeRectangle">
      <div class="col-lg-2">
        <div class="row">
          <button type="button" class="btn btn-primary homeButton" (click)="goCreate()">Crear Nueva Alerta</button>
        </div>
      </div>
      <div class="col-lg-8"></div>
      <div class="col-lg-2">
        <div class="row">
          <button type="button" class="btn btn-primary homeButton" (click)="goList()">Ver Alertas</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-8 px-0 my-4">
    <div class="mainRectangle">
      <div class="row my-5"></div>
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div class="bigLogo">
            <div class="triangle"></div>
            <div class="logoRectangle"></div>
            <div class="logoAt"></div>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>
