<div class="row justify-content-center">
  <div class="col-lg-8 px-0 my-4">
    <div class="mainRectangle">
      <div class="row justify-content-center">
        <div class="col-lg-10 px-0 my-3">
          <div class="mainRectangle2">
               <div class="bigLogo">
                <div class="triangle"></div>
                <div class="logoRectangle"></div>
                <div class="logoAt"></div>
               </div>
          </div>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-1">
            <div class="inverseTriangle"></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
